<app-navbar></app-navbar>
<mat-card>
    <mat-card-header>
      <mat-card-title><h1>Gatos</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Selecciona una raza de gato</mat-label>
        <mat-select  (selectionChange)="onCatChange($event)">
          <mat-option *ngFor="let cat of cats" [value]="cat.id">
            {{ cat.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
</mat-card>